body{
	background-image:url("../imagenes/fondoprincipal.jpg");
	text-align:center;

}


.contenedor{
	
	position:absolute;
	
	top:50%;
	right:50%;
	
	transform: translate(50%,-50%);
	border : 2px solid;
	border-radius: 20px;
	width:350px;
	height:250px;
	text-align:center;
	
}

.color{
	color:Tomato;
}

.control{
	position:relative;
	width:250px;
	margin:5px;
	padding:5px;
}

