  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto centra verticalmente en la ventana del navegador */
  }

  form {
    text-align: center;
  }
   .input-margin {
    margin-top: 10px; /* Aplica margen superior a los elementos input */
  }

  .a-margin {
    margin-top: 10px; /* Aplica margen superior a la etiqueta <a> */
  }
